@model SkijumpingTeams.ViewModels.TeamViewModel
@{
    ViewData["Title"] = "Jumpers of team";
}

<h1>Jumpers of team</h1>

<div>
    <h4>  @Html.DisplayFor(model => model.Team.Nation)</h4>
    <hr />
    <div class="list-of-jumpers">
        <div class="board">
            @foreach (var item in Model.Jumpers)
            {
                @Html.Partial("_TeamJumpersPartial", item);
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
