@model SkijumpingTeams.Models.Coach

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3 ">Are you sure you want to delete this Coach?</h3>
<form asp-action="Delete">
    <input type="hidden" asp-for="ID" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
<div>
    <hr />
    @Html.Partial("_TeamCoachesPartial", Model)

</div>
